*{
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}

.concertdetail a {
    text-decoration: none;
    color:#000000;
}

.clear {
    clear: both;
}

header{
	width:100%;
	height:auto;
}

.wrap{
    width: 100%;
}

section{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.text_bold{
    font-weight: bold;
}

/* �⑤벊肉곤옙�젫筌륅옙,占쎈７占쎈뮞占쎄숲,likes,占쎈쾻疫뀐옙,�⑤벊肉곤옙�뻻揶쏉옙 占쎈툡占쎈뼒占쎄깻 */


#title_article{

    height: 195px;
    margin: 0 auto;
    border-bottom: 2px solid #000;
    margin-top:100px;
    
}

#title {
    width: 100%;
    height: 150px;
    position: relative;
}

#first_title{
    width: 100%;
    height: 20px;
    position: absolute;
    margin-top: 40px;
    margin-left: 30px;
}

#second_title {
    width: 100%;
    height:60px ;
    position: absolute;
    margin-top: 70px;
    margin-left: 30px;
    font-size: 30px;
    font-weight: bold;
}

#third_title{
    width: 100%;
    height: 50px;
    position: absolute;
    margin-left: 30px;
    margin-top: 110px;
    border-bottom: black;
    
}

#date {
    float: left;
    margin-top: 20px;
}

#place {
    float: left;
    
}
#place > a> img {
    margin-top: 10px;
}

#social_btn{
    
    margin-top: 135px;
    margin-left: 1180px;
    position: absolute;
    float: right;
    
}

#poster_article {

    height: 730px;
    /* width: auto; */
    margin: 0 auto;
   
    

}

#poster {
    width: auto;
    height: 720px;
    position: relative;
}

#poster_space {

    width: 430px;
    height: 600px;
    
    position: absolute;
    float: left;
    margin-top: 40px;
    border: solid 1px black;
}

#likes {
    width: 430px ;
    height: 70px;
    float: left;
    position: absolute;
    margin-top: 650px;
    border-bottom: solid 1px #ddd;
    
}

#likes > ul > li {
    float: left;
    margin-left: 15px;
    margin-top: 20px;
}

#likes > ul > li > a> img {
    margin-top: -10px;
}

#grade_info {
    width: 700px;
    height: 280px;
    position: absolute;
    float: left;
    margin-top: 40px;
    margin-left: 450px;
    border-bottom: solid 1px black;
   
}
#grade_grade {
    width: 615px;
    height: 35px;
    position: absolute;
    margin-left: 30px;
    margin-top: 10px;
}
#grade_grade > ul > li {
    float: left;
    margin-left: 20px;
}

#grade_li {
    padding-left: 80px;
}

#grade_time{
    width: 615px;
    height: 35px;
    position: absolute;
    margin-top: 50px;
    margin-left:30px ;
}

#grade_time > ul > li {
    float: left;
    margin-left: 20px;
}

#time_li {
    padding-left: 84px;
}

#grade_cast {
    
    width: 715px;
    height: 35px;
    position: absolute;
    margin-top: 90px;
    margin-left:30px ;
}

#grade_cast > ul > li {
    float: left;
    margin-left: 20px;
}

#cast_li {
    padding-left: 77px;
    /* margin-top:-22px; */
    text-align:center;
}



#grade_price{
    
    width: 615px;
    height: 80px;
    position: absolute;
    margin-top: 130px;
    margin-left:33px ;
}

#grade_price > ul > li {
    margin-left: 17px;
    margin-top: 10px;
}
#price_div {
    width: 600px;
    height: 65px;
    margin-left: 130px;
    margin-top: -16px;
    background-color:#f6f6f6 ;
}

#price_div > li {
    margin-left: 20px;
    line-height: 30px;
    
    
}
#price_div > li >span {
    color:#ed4037;
    line-height: 32px;
    
}

#grade_advantages{
   
    width: 615px;
    height: 35px;
    position: absolute;
    margin-top: 220px;
    margin-left:38px ;
}

#grade_advantages > ul {
    margin-left: 12px;
    margin-top: 5px;
}

#advantages_li {
    margin-left: 100px;
}

#advantages_li> a {
    float: left;
    margin-left: 30px;
    margin-top: -20px;
    
}

.background_img1 {
    float: right;
    width: 17px;
    height: 17px;
    margin-top: 5px;
    background: url('http://tkfile.yes24.com/imgNew/common/rn-ico-btn-pop.png');
    position: relative;
    margin-left: 5px;
}

.bar {

    position: absolute;
    float: right;
    margin-left: 30px;
    margin-top: -5px;
}




#time_info {
    width: 700px;
    height: 230px;
    float: left;
    position: absolute;
    margin-left: 450px;
    margin-top: 380px;
    border-bottom: solid 1px black;
}

#time_first{
    width: 700px;
    height: 150px;
    margin-top: -20px;
    margin-left: 30px;
    font-size: 14px;
    color: #666666;
}

#time_first > span {
    font-weight: bold;

}

#time_second {
    width: 700px;
    height: 70px;
    margin-top: 5px;
    margin-left: 30px;
    font-size: 14px;
    color: #666666;

}

#time_third {
    width: 700px;
    height: 70px;
    margin-top: 0px;
    margin-left: 30px;
    font-size: 14px;
    color: #666666;

}

#time_second > span {
    font-weight: bold;

}


/* 占쎌굙筌띲끋釉�疫뀐옙,booking甕곌쑵�뱣 占쎈툡占쎈뼒占쎄깻 */


#booking_article{
    /* width: auto; */
    height:90px ;
    position: relative;
    margin: 0 auto;
}

#booking{
    width: 100%;
    height: 50px;
    position: absolute;
    margin-top: 45px;
}

#booking_1 {
    width:240px ;
    height: 50px;
    background-color: #f43142;
    float: left;
    margin-left: 350px;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    color: #fff;
}

#booking_2 {
    width:240px ;
    height: 47px;
    background-color:#fff;
    border:solid 2px red;
    float: left;
    margin-left: 20px;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
}


/* 獄쏄퀡瑗� 占쎈툡占쎈뼒占쎄깻 */

#banner_article{
    margin: 0 auto;
}
#banner {
    
    /* width: auto; */
    height: 100px;
    
   
}

#banner > a > img {
    width: auto;
    height: 120px;
    margin-top: 70px;
}

#info_btn_article{
    margin: 0 auto;
    
}

#info_btn{
    /* width: auto; */
    height: 60px;
    margin-top: 150px;
    border-bottom: solid 2px black;
}

#info_btn_detail{
    width: 180px;
    height: 60px;
    float: left;
    text-align: center;
    line-height: 60px;
    font-size: 18px ;
    font-weight: bold;


}

#info_btn_cancle{
    width: 180px;
    height: 60px;
    float: left;
    text-align: center;
    line-height: 60px;
    font-size: 18px ;
    font-weight: bold;
}

#notice_article{
    margin: 0 auto;
}

#notice {
    margin: 0 auto;
    text-align: center;
    /* width: auto; */
    height: 500px;
    position: relative;
}

#notice_subject {
    margin: 0 auto;
    height: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    margin-top: 50px;
    margin-left: -60px;
}

#notice_contents {
    margin: 0 auto;
    /* width: auto; */
    height: 300px;
    position: absolute;
    margin-top: 150px;
    margin-left: -300px;
    text-align: center;
    font-size: 13px;
    color: #555555;
    
}

#notice_contents_red {
    color: #ff0000;
    font-weight: bold;
}

#info_pics_article{
    margin: 0 auto;
    height:auto;
}

#info_pics {
    margin: 0 auto;
    height: auto;
    
}

#info_text{
    /* width: auto; */
    height: 55px ;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#info_pics1{
    /* width: auto; */
    height: auto ;
    margin: 0 auto;
    margin-left: 120px;
    margin-top: 40px;
    
}

#info_pics2{
    margin: 0 auto;
    /* width: auto; */
    margin-left: 120px;
    margin-top: -4px;
}

#info_pics3{
    margin: 0 auto;
    width: auto;
    margin-left: 120px;
    margin-top: -5px;
}
#info_pics4{
    margin: 0 auto;
    width: auto;
    margin-left: 120px;
    margin-top: -5px;
}
#info_pics5{
    margin: 0 auto;
    width: auto;
    margin-left: 120px;
    margin-top: -5px;
}
#info_pics6{
    margin: 0 auto;
    width: auto;
    margin-left: 120px;
    margin-top: -4px;
}
#info_pics7{
    width: auto;
    margin-left: 120px;
    margin-top: -5px;
}
#info_pics8{
    margin: 0 auto;
    width: auto;
    margin-left: 120px;
    margin-top: -5px;
    height:auto;
}
#info_pics9{
    margin: 0 auto;
    width: auto;
    margin-left: 120px;
    margin-top: -5px;
}

#company_info_article{
    margin: 0 auto;
    width: auto;
    height: 175px ;
    

}

#company_info{

    margin: 0 auto;
    width: 960px ;
    height: 120px;
    margin-left: 115px;
    border-top: solid 1px black;
    border-bottom: solid 1px #ddd;
    border-right: solid 1px #ddd;
   
    
}

#company_info_left{
    width: 177px;
    height: 120px;
    float: left;
    text-align: center;
    font-weight: bold;
    line-height: 105px;
    font-size: 18px;
    background-color: #f6f6f6;
}

#company_info_right{
    width: 740px;
    height: 100px;
    float: left;
    margin-left: 20px;
    line-height: 27px;
    margin-top: 15px;
    font-size: 14px;

}

#detail_info_article{
	margin-top:15px;
}

#detail_info {
    margin: 0 auto;
    width: auto;
    height: 800px;
    
}

#detail_info_text{
    margin: 0 auto;
    width: 100px;
    height: 50px;
    font-weight: bold;
    font-size: 30px;
    margin-left: 500px;
    
}

#detail_info_table {

    margin: 0 auto;
    width:960px ;
    height: 660px;
    margin-left: 120px;
    margin-top: 50px;
    border-top: solid 1px black;
    border-right: 1px #ddd solid;
    border-bottom: 1px #ddd solid;

}

#table_left1{
    width:170px ;
    height: 57px;
    background-color: #f6f6f6;
    /* margin-left: 60px; */
    float: left;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 57px;
    border-bottom: solid 1px #ddd;
    border-right: #ddd solid 1px;
}

#table_right1{
    width: 308px;
    height: 57px;
    float: left;
    text-align: center;
    line-height: 57px;
    font-size: 14px;
    border-bottom: solid 1px #ddd;
    border-right: #ddd solid 1px;
    overflow:hidden;
}

#table_left2{
    width:170px ;
    height: 57px;
    background-color: #f6f6f6;
    float: left;
    text-align: center;
    line-height: 57px;
    font-size: 14px;
    font-weight: bold;
    border-bottom: solid 1px #ddd;
    border-right: #ddd solid 1px;
}

#table_right2{
    width: 308px;
    height: 57px;
    float: left;
    text-align: center;
    line-height: 57px;
    font-size: 14px;
    border-bottom: solid 1px #ddd;
    border-right: #ddd solid 1px;
}

#table_fourth_line{
    width: 960px ;
    height: 450px;
    margin-top: 174px;
    position: relative;
}

#fourth_line_left{
    width: 170px;
    height: 485px;
    float: left;
    text-align: center;
    line-height: 450px;
    font-size: 14px;
    border-bottom: solid 1px #ddd;
    border-right: #ddd solid 1px;
    font-weight: bold;
    background-color: #f6f6f6;
}

#fourth_line_text1{
    font-size: 13px;
    margin-top: 15px;
    margin-left: 190px;
    position: absolute;
}

#fourth_line_table{
    
    width:600px ;
    height: 226px;
    position: absolute;
    margin-top: 100px;
    margin-left: 190px;
}

#fourth_line_table1{
    width: 600px ;
    height: 30px;
    background-color:#a9a9a9;
    position: absolute;
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    background-color:#fbe5d5 ;

    
}

.fourth_line_li {
   
    float: left;
    margin-left: 160px;
    margin-top: 5px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
   
}

.fourth_line_table2{
    width: 600px ;
    height: 30px;
    position: absolute;
    border-bottom: solid 1px #ddd;
    margin-top: 30px;
    
}

.fourth_line_table2 > ul> li{
    float: left;
    margin-left: 140px;
    margin-top: 5px;
    font-size: 12px;
    text-align: center;
    
}

.fourth_line_table3{
    width: 600px ;
    height: 30px;
    position: absolute;
    border-bottom: solid 1px #ddd;
    margin-top: 60px;
}

.fourth_line_table3 > ul> li{
    float: left;
    margin-left: 82px;
    margin-top: 5px;
    font-size: 12px;
    text-align: center;
    
}

#table3_red{
    color: #ed4037;
    font-size: 13px;
    font-weight: bold;
    margin-left: -5px;
}

.fourth_line_table4{
    width: 600px ;
    height: 30px;
    position: absolute;
    border-bottom: solid 1px #ddd;
    margin-top: 90px;
}

.fourth_line_table4 > ul> li{
    float: left;
    margin-left: 77px;
    margin-top: 5px;
    font-size: 12px;
    text-align: center;
    
}

.fourth_line_table5{
    width: 600px ;
    height: 30px;
    position: absolute;
    border-bottom: solid 1px #ddd;
    margin-top: 120px;
}

.fourth_line_table5 > ul> li{
    float: left;
    margin-left: 77px;
    margin-top: 5px;
    font-size: 12px;
    text-align: center;
    
}

.fourth_line_table6{
    width: 600px ;
    height: 30px;
    position: absolute;
    border-bottom: solid 1px #ddd;
    margin-top: 150px;
}
.fourth_line_table6 > ul> li{
    float: left;
    margin-left: 79px;
    margin-top: 5px;
    font-size: 12px;
    text-align: center;
    
}

#fourth_line_text2{
    font-size: 13px;
    margin-top: 320px;
    margin-left: 190px;
    position: absolute;
}





























